section.intro-section
	.container
		.intro
			.intro__wrap
				.intro__logo-content
					.intro__logo
						img(src="images/logo.png", alt="")
					h3.intro__title TURN YOUR BETS INTO
					h3.intro__subtitle INVESTMENTS
				//- .swiper-container.js-main-slider
				//- 	.swiper-wrapper
				//- 		.swiper-slide
				//- 			img(src="images/s1.png", alt="")
				//- 		.swiper-slide
				//- 			img(src="images/s2.png", alt="")
				//- 		.swiper-slide
				//- 			img(src="images/s3.png", alt="")
				//- 	.swiper-button-prev
				//- 	.swiper-button-next

				.slider
					img(src="images/s1.png", alt="").left
					img(src="images/s2.png", alt="").center
					img(src="images/s3.png", alt="").right

			.intro__wrap.intro__wrap_flex
				h4.intro__video-title Invest 
					span and make 
					| sustainable profit 
					span in the 
					| world of soccer.
				
				form.main-form
					.main-form__wrap
						label(for="email").main-form__label
						input(type="email" name="email" id="email" placeholder="Enter Email Address" required).main-form__input
						button(type="submit").btn.arrow.primary Start Free Trial
					p.main-form__commit No commitment, cancel subscription anytime. 7 Day Trial.

				.intro__video-wrap
					span.intro__video-text Watch Video
					.intro__video
						iframe(src="https://www.youtube.com/embed/7YUKkok9VOU" width="100%" height="100%" allowfullscreen)
				
				p.intro__video-subtitle We introduce a new approach to soccer betting by giving you the tools to make calculated decisions rather than relying on gut feeling.
