.intro-section {
  padding: 50px 0 0;
  color: $white;

  @media screen and (min-width: 768px) {
    padding: 40px 0 0;
  }

  img {
    width: 100%;
  }

  .swiper-slide-active {
    transform: scale(1.3);
    z-index: 1;
  }

  .swiper-slide-next {
    transform: scale(1.1);
  }

  .swiper-container {
    padding: 0 10px 0 0;
    max-width: 415px;
    margin: 0 auto 20px;

    @media screen and (min-width: 768px) {
      margin: 0 0 0 auto;
    }
  }

  .swiper-wrapper {
    padding: 50px 20px 50px 0;
  }

  .swiper-button-next {
    color: $white;
    right: 30px;

    @media screen and (min-width: 768px) {
      right: 50px;
    }

    &:after {
      font-size: 26px;
    }
  }

  .swiper-button-prev {
    color: $white;
    left: 30px;

    @media screen and (min-width: 768px) {
      left: 50px;
    }

    &:after {
      font-size: 26px;
    }
  }
}

.intro {
  color: $white;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &__wrap {
    @media screen and (min-width: 768px) {
      width: calc(50% - 10px);
    }

    @media screen and (min-width: 1024px) {
      width: calc(50% - 54px);
    }

    &_flex {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
        padding-top: 100px;
      }
    }
  }

  &__logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      align-items: flex-end;
    }
  }

  &__logo {
    width: 180px;

    @media screen and (min-width: 768px) {
      width: 256px;
    }
  }

  &__title {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__subtitle {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 41px;
      margin-bottom: 0;
    }
  }

  &__video-title {
    max-width: 322px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.16;
    text-transform: uppercase;
    margin: 0 auto 13px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      max-width: 436px;
      margin: 70px 0 10px 0;
      text-align: left;
      order: 2;
    }

    span {
      font-size: 13px;
      font-weight: 300;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &__video-subtitle {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.375;
    max-width: 456px;
    margin-bottom: 23px;
    text-align: center;

    @media screen and (min-width: 768px) {
      order: 3;
      text-align: left;
      margin: 0;
    }
  }

  &__video-wrap {
    margin-bottom: 20px;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      order: 4;
    }
  }

  &__video-text {
    display: none;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 10px;
      display: block;
    }
  }

  &__video {
    // max-width: 385px;
    // width: 100%;
    // height: 216px;
    margin: 0 -30px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }

    iframe {
      @media screen and (min-width: 768px) {
        border-radius: 14px;
      }
    }
  }

  .main-form {
    @media screen and (min-width: 768px) {
      order: 1;
    }

    &__wrap {
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }
    }

    &__commit {
      margin: 0 auto;
      width: 180px;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
        width: auto;
        max-width: 255px;
        margin: 0;
      }
    }
  }
}
