section.card-section
	.container
		.card-header
			ul.card-list
				li.card-list__item LEARN
				li.card-list__item INVEST
				li.card-list__item.active EARN
		.card-wrap
			a(href="education.html" data-aos="zoom-in" data-aos-duration="1000").card
				.card__content
					.card__wrap
						.card__img
							img(src="images/card1.svg", alt="")
						p.card__text Learn exclusive betting strategies and investing tips.
						span.card__title LEARN
			a(href="education2.html" data-aos="zoom-in" data-aos-duration="1000").card
				.card__content
					.card__wrap
						.card__img
							img(src="images/card2.svg", alt="")
						p.card__text Invest in your favorite soccer leagues with our proprietary algorithm.
						span.card__title INVEST
			a(href="education6.html" data-aos="zoom-in" data-aos-duration="1000").card
				.card__content
					.card__wrap
						.card__img
							img(src="images/card3.svg", alt="")
						p.card__text 
							span.card__bold Get Paid 
							| by using our product, with our in-house pot.
						span.card__title EARN