.card-section {
    padding: 30px 0 40px;

    @media screen and (min-width: 768px) {
        padding: 80px 0;
    }

    @media screen and (min-width: 1024px) {
        padding: 130px 0 192px;
    }

    .card-wrap {
        display: flex;
        justify-content: center;
        margin: 0 -7px;
    }
}

.card {
    width: 33.33%;
    max-width: 312px;
    padding: 0 7px;

    @media screen and (min-width: 768px) {
        padding: 0 8px;
    }

    &:hover {
        .card__text {
            color: $hover-red;
        }
    }

    &__content {
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.18);
        border-radius: $secondary-radius;

        @media screen and (min-width: 768px) {
            padding: 10px;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $secondary-radius;
        border: 1px solid $white;
        padding: 0 10px 5px;

        @media screen and (min-width: 768px) {
            padding: 0 20px 20px;
        }

        @media screen and (min-width: 1024px) {
            padding: 0 30px 20px;
        }
    }

    &__img {
        display: flex;
        justify-content: center;

        img {
            width: 100%;

            @media screen and (min-width: 768px) {
                width: 86%;
            }
        }
    }

    &__text {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            text-align: center;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.25;
            text-align: center;
            color: $white;
            transition: $base-transition;
        }
    }

    &__title {
        color: $white;
        font-size: 10px;
        font-weight: 300;
        line-height: 1.5;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__bold {
        font-weight: 600;
    }
}

.card-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__item {
        position: relative;
        font-size: 30px;
        font-weight: 200;
        line-height: 1;
        color: $white;
        margin: 0 12px;

        &.active {
            font-weight: 600;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -14px;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $white;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}