section.poll-section
	.container
		.poll
			.poll__img(data-aos="zoom-in" data-aos-duration="1000")
				img(src="images/quote.svg", alt="")
			h4.poll__title(data-aos="zoom-in" data-aos-duration="1000") NO MORE GAMBLING
			h3.poll__subtitle(data-aos="zoom-in" data-aos-duration="1000") TRANSFORM YOUR MINDSET
			h2.poll__title-head(data-aos="zoom-in" data-aos-duration="1000") INCREASE YOUR PROFITS
			form(onsubmit="return false" oninput="level.value = flevel.valueAsNumber" action="#")
				.question(data-aos="zoom-in" data-aos-duration="1000")
					.question__container
						.question__wrap.js-one-question.active
							h2.question__title WHAT'S YOUR FAVORITE TEAM ?
							.question__select
								select
									option(value="1") Manchester United
									option(value="2") Manchester
									option(value="3") United
							button(type="button").btn.arrow-bk.secondary.js-one-btn Next

						.question__wrap.js-two-question
							h2.question__title WHAT'S YOUR FAVORITE LEAGUE ?
							.question__select
								select
									option(value="1") Champions League
									option(value="2") Champions
									option(value="3") League
							button(type="button").btn.arrow-bk.secondary.js-two-btn Next

						.question__wrap.js-three-question
							h2.question__title WHAT PERCENTAGE OF YOUR TOTAL BALANCE WILL YOU INVEST PER BET ?
							.question__runner
								input(name="flevel" id="flying" type="range" min="1" max="100" value="1" step="1").question__runner-input
								output(for="flying" name="level" class="range" value="%").question__output 1%
							button(type="button").btn.arrow-bk.secondary.js-three-btn Next

						.question__wrap.js-four-question
							h2.question__title HAVE  YOU HEARD OF THE CONCEPT VALUE IN SOCCER BETTING ?
							.question__btn-wrap
								button(type="button").question__btn.js-four-btn Yes
								button(type="button").question__btn.js-four-btn No

						.question__wrap.js-five-question
							h2.question__title.question__title_next THEN YOU ARE IN THE RIGHT PLACE!  WE ARE THRILLED TO GIVE YOU ALL THE TOOLS AND EDUCATION TO TAKE ADVANTAGE AND START MAKING PROFIT, START YOUR FREE TRIAL NOW!					
							button(type="button").btn.arrow.secondary.js-five-btn Start Free Trial
