.poll-section {
  padding: 30px 0 40px;
  color: $white;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 768px) {
    padding: 0 0 100px;
  }

  @media screen and (min-width: 1024px) {
    padding: 50px 0 148px;
  }
}

.poll {
  width: 100%;
  max-width: 885px;
  margin: 0 auto;
  text-align: center;

  &__img {
    margin-bottom: 10px;

    img {
      width: 42px;
      @media screen and (min-width: 768px) {
        width: auto;
      }
    }
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__title-head {
    margin-bottom: 21px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 41px;
      margin-bottom: 49px;
    }
  }
}