.page-title {
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 0.99px;
  line-height: 1;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 35px;
    letter-spacing: 1.19px;
  }
}
