html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: $base-font;

	&.overflow {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
		background-color: rgba(255, 255, 255, 0.3);
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 15px;
		background-color: #EE3696;
	}
}

a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: $base-transition;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	appearance: none;
}

textarea {
	resize: vertical;
	border: none;
	background-color: transparent;
	outline: none;
	appearance: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: $base-transition;
	outline: none;
	appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: $base-transition;
	outline: none;
}

iframe {
	border: none;
	width: 100%;
}

.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 100px;
	background: linear-gradient(180deg, #000000 0%, #9D1994 10%, #000000 100%), #000000;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 57vw;
		background-image: url('../images/main-decor.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
	}
}

.main {
	position: relative;
	z-index: 1;
}

.container {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

//scroll
.scroll-wrap::-webkit-scrollbar {
	width: 3px;
	background-color: #ccc;
}

.scroll-wrap::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
}

//loader
.loader-wrap {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	&.hide {
		display: none;
	}
}

.loader {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#00FF00, #00FF00, #00FF00);
	animation: animate 1s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader span {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#00b2ff, #00ffbb, #6bff6b);
}

.loader span:nth-child(1) {
	filter: blur(5px);
}

.loader span:nth-child(2) {
	filter: blur(10px);
}

.loader::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #FFFFFF;
	border-radius: 50%;
}