$breakpoints: (
	'xl': 1920px,
	'lg': 1280px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);

$black: #000000;
$white: #FFFFFF;

$hover-red: #EE3696;
$soc-icon: #828282;
$color-text: #a8a8a8;

$base-text: #555555;
$active-link: #5363db;
$title-color: #5b6ceb;
$article-title: #777777;
$article-descr: #999999;
$placeholder-color: #888888;
$active-color: #5363d8;
$border-color: #d7d7d7;
$copyright-text: #b7bffc;
$input-bg: #f2f2f2;
$valid: red; 
$text-shadow: #333333;
$label-color: #ababab;
$ph-color: #c2c2c2;
$border: #707070;
$member-color: #7cc2e6;
$modal-color: #202020;
$hover-blue: #58c6ff;

$base-font: 'Titillium Web';
$secondary-font: 'Freestyle Script';

$base-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
$secondary-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
$tertiary-shadow: 6px 6px 10px rgba(117, 104, 104, 0.15);
$arrow-shadow: 4px 4px 9px rgba(0, 0, 0, 0.1);
$header-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
$slide-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);

$base-radius: 5px;
$secondary-radius: 10px;
$tertiary-radius: 20px;

$base-transition: all 0.3s ease;