.btn {
  color: $white;
  box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
  border-radius: $base-radius;
  border: 1px solid $hover-red;
  background-color: rgba(238, 54, 150, 0.5);

  &:hover {
    background-color: rgba(255, 255, 255, 0.26);
    border: 1px solid $white;
  }

  &.secondary {
    align-items: center;
    padding: 10.5px 21px;
    width: 192px;
    height: 48px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.41px;
    line-height: 0.92;
    text-transform: uppercase;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;

    &:hover {
      text-shadow: text-shadow 0 1px 0;
    }
    &:active {
      background: $hover-red;
    }
  }

  &.arrow {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      right: 20%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-image: url("../images/arr-r.svg");
    }  
  }
  &.arrow-bk {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      right: 20%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-image: url("../images/arr-bk.svg");

      @media screen and (min-width: 768px) {
        right: 29%;
      }
    }
  }

  &.primary {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.48px;
    line-height: 1;
    width: 209px;
    height: 41px;
    box-shadow: 0 0 8px rgba(255, 41, 213, 0.75);
    background-color: rgba(238, 54, 146, 0.5);
    margin-bottom: 10px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.26);
      box-shadow: none;
    }

    @media screen and (min-width: 768px) {
      width: 275px;
      height: 50px;
      font-size: 14px;
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}
