.main-form {
  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 209px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.2);
    font-style: italic;
    background-clip: padding-box;
    display: block;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.41px;
    line-height: 1;
    color: $white;
    overflow: hidden;
    padding-left: 15px;
    margin-bottom: 9px;

    &::placeholder {
      color: $white;
    }

    @media screen and (min-width: 768px) {
      width: 275px;
      height: 43px;
      margin-bottom: 11px;
    }
  }

  &__commit {
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}

.switch-form {
  &__field {
    border-radius: 20px;
    border: 1px solid $white;
    display: flex;
    width: 44px;
    height: 24px;
    align-items: center;
    padding: 1px;

    input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }

    label {
      transition: all 0.3s ease;
      cursor: pointer;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  input.basic-input:checked + label {
    transition: all 0.3s ease;
    background-color: $white;
  }

  input.premium-input:checked + label {
    transition: all 0.3s ease;
    color: $white;
    background-color: rgba(255, 41, 213, 0.3);
  }
}

.payment-checkbox {
  display: flex;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    width: 17px;
    height: 17px;
    border-radius: $base-radius;
    border: 1px solid $border;
    background-color: $white;
    cursor: pointer;
    display: inline-block;
    transition: all 300ms ease;
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }

  input[type="checkbox"]:checked + label {
    transition: all 300ms ease;
    color: $white;
    box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
    border: 1px solid $hover-red;
    background-color: rgba(238, 54, 150, 0.5);
  }

  &__text {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.34px;
    line-height: 1;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      letter-spacing: 0.48px;
    }

    span {
      font-size: 9px;
      font-weight: 200;
      letter-spacing: 0.31px;
      line-height: 1;

      @media screen and (min-width: 768px) {
        font-size: 12px;
        letter-spacing: 0.41px;
      }
    }
  }
}

.user-form {
  position: fixed;
  background-image: linear-gradient(180deg, #ff29d5 -60%, #000000 120%);
  left: 50%;
  top: 50%;
  padding: 34px 38px;
  transform: translate(-50%, -50%);
  width: 90vw;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  border-radius: 20px 10px 20px 20px;

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 35px;
    left: auto;
    right: 26px;
    padding: 34px 38px;
    width: 407px;
    left: auto;
    transform: translate(0);
    transition: $base-transition;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(180deg, #ff29d5 -60%, #000000 120%);
  }

  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;

    @media screen and (min-width: 480px) {
      top: 45px;
    }
  }
}

.member-form {
  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: inline-block;
    color: $white;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.61px;
    line-height: 1.33;
    vertical-align: top;
    margin-bottom: 10px;
  }

  &__input {
    max-width: 608px;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid $white;
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: $white;
    margin-bottom: 20px;
    overflow: hidden;
    font-style: italic;

    &::placeholder {
      color: $white;
      cursor: pointer;
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
      overflow: hidden;
      outline: none;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 5px;

    span {
      font-weight: 700;
    }
  }

  &__subtitle {
    color: $member-color;
    // font-family: $secondary-font;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    text-decoration: underline;
    margin-bottom: 25px;
  }

  &__forgot {
    color: $member-color;
    // font-family: $secondary-font;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  .btn.secondary {
    width: 100%;
    box-shadow: 0 0 8px rgba(255, 41, 213, 0.75);
    background-color: rgba(238, 54, 146, 0.5);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.48px;
    line-height: 1;
  }

  &__input-wrap {
    position: relative;

    input {
      padding-right: 30px;
    }
  }

  &__btn {
    position: absolute;
    background-image: url("../images/hide-img.svg");
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    z-index: 1;
    width: 22px;
    height: 22px;
    top: 5px;
    right: 0;
  }
}
