section.video-section
	.container
		h3.video-title TESTIMONIALS
		h4.video-subtitle A word from our community
		.video-wrap
			.video
				.video__wrap
					iframe(src="https://www.youtube.com/embed/7YUKkok9VOU" width="100%" height="100%" allowfullscreen style="border-radius: 14px;")
			.video
				.video__wrap
					iframe(src="https://www.youtube.com/embed/7YUKkok9VOU" width="100%" height="100%"  allowfullscreen style="border-radius: 14px;")
			.video
				.video__wrap
					iframe(src="https://www.youtube.com/embed/7YUKkok9VOU" width="100%" height="100%"  allowfullscreen style="border-radius: 14px;")