.video-section {
  padding: 60px 0 61px;
  color: $white;

  @media screen and (min-width: 768px) {
    padding: 0 0 73px;
  }

  .container {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 375px) {
      max-width: 982px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .video-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  .video-subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 22px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: start;
      margin-bottom: 24px;
    }
  }
}

.video-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 10px;

  @media screen and (min-width: 1024px) {
    margin: 0 -18px 10px;
  }

  .video {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 50%;
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1024px) {
      width: 33.33%;
      padding: 0 13px;
    }
  }
}

.video {
  width: 100%;
  padding: 0 7px;
  height: 100%;
  object-fit: cover;
  display: block;

  @media screen and (min-width: 768px) {
    padding: 0 12px;
    width: 33.33%;
  }

  &__wrap {
    border-radius: 14px;
    margin-bottom: 24px;
    height: 159px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      height: 176px;
    }
  }

  /* .video-btn {
    position: absolute;
    width: 25px;
    height: 31px;
    z-index: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/play.svg");
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }

    @media screen and (min-width: 768px) {
      width: 27px;
      height: 37px;
    }
  } */
}
