.question {
  &__container {
    width: 100%;
    min-height: 218px;
    border-radius: $secondary-radius;
    border: 3px solid $white;
    background-image: linear-gradient(180deg,
        rgba(255, 255, 255, 0.24) 0%,
        rgba(128, 128, 128, 0.15) 100%);
    padding: 23px 10px 28px;
    text-align: center;

    @media screen and (min-width: 768px) {
      min-height: 313px;
      padding: 39px 10px 44px;
    }
  }

  &__wrap {
    display: none;
    height: 100%;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__select {
    max-width: 440px;
    width: 100%;
    flex: none;
    margin-bottom: 60px;

    select {
      width: 100%;
      display: block;
      padding: 8px;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;
      text-align: center;
      color: #000000;
      border-radius: 4px;
      border: solid 1px $white;
      background-color: rgba(255, 255, 255, 0.48);
    }
  }

  .secondary {
    width: 115px;
    height: 33px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.34px;
    line-height: 1;
    display: flex;
    justify-content: center;
    margin-top: auto;

    @media screen and (min-width: 768px) {
      width: 192px;
      height: 48px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.41px;
    }
  }

  .arrow {
    width: 170px;
    height: 50px;

    @media screen and (min-width: 768px) {
      width: 275px;
    }

    &:after {
      right: 10%;

      @media screen and (min-width: 768px) {
        right: 18%;
      }
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 37px;
    max-width: 180px;
    width: 100%;
    flex: none;

    &_next {
      max-width: 265px;

      @media screen and (min-width: 768px) {
        max-width: 575px !important;
        width: 100%;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
      max-width: 374px;
      width: 100%;
    }
  }

  &__btn-wrap {
    max-width: 285px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 70px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.5);
    color: $black;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin-right: 12px;

    @media screen and (min-width: 768px) {
      width: 126px;
      height: 48px;
      font-size: 16px;
      margin-right: 32px;
    }

    &:hover {
      color: $white;
      box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
      border-radius: $base-radius;
      border: 1px solid $hover-red;
      background-color: rgba(238, 54, 150, 0.5);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__runner {
    margin-bottom: 50px;
  }

  &__output {
    margin-top: 10px;
    color: $white;
    display: block;
  }

  &__runner-input {
    color: $white;
    height: 1px;
    width: 290px !important;
    display: block;
    margin-bottom: 10px;
    background-color: $white;

    @media screen and (min-width: 768px) {
      width: 410px !important;
    }
  }
}