extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.account-section
			.container
				.account
					.account__img
						img(src="images/ball.png", alt="")
					h2.page-title Create a New Account
					h4.account__subtitle We use this information to give you the best experience.
					.account__btn_wrap
						button.account__btn 
							.account__btn-img 
								img(src="images/gmail.svg", alt="")
							h3.account__btn-title Gmail
						button.account__btn 
							.account__btn-img
								img(src="images/fb-s.svg", alt="")
							h3.account__btn-title Facebook
					h4.account__line
								span or
					form.account-form
						.account-form__wrap
							label(for="name").account-form__label Full Name * 
								
							input(type="text" name="name" id="name" placeholder="Example: John Smith" required).account-form__input
							label(for="email").account-form__label Email *
							input(type="email" name="email" id="email" placeholder="Example: johnsmith@dbinvest.com" required).account-form__input
							label(for="password").account-form__label Password *
							input(type="password" name="password" id="password" placeholder="Min 6 Characters" required).account-form__input
							label(for="name").account-form__label Username * 
								span (This will be the name displayed)
							input(type="name" name="name" id="username" placeholder="Example: John123" required).account-form__input

							form(action="formdata" method="post" name="form1" placeholder="Choose Your Country").account-form__select
								.account-form__select-text Country *
									select#list(name="list1")
										option(value="") Choose Your Country
										option(value="") Выберите из списка
										option(value="") Выберите из списка
										option(value="") Выберите из списка	

							label(for="name").account-form__label City *
							input(type="text" name="name" id="city" placeholder="Type Your City" required).account-form__input.input_bg

							.payment-checkbox 
								input(type="checkbox" id="myCheckbox")
								label(for="myCheckbox")
								h4.payment-checkbox__text I'm 18 years old, and I agree to  DBInvest's
									span
										a(href="#")
											| Terms & Conditions 
							button(type="submit").btn.secondary CREATE ACCOUNT