extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.completion-section
			.container
				.completion
					.completion__img
						img(src="images/ball.png", alt="")
					h1.completion__title Congratulations !
					p.completion__text.completion__text_heavy By taking this step you are aimed towards a great future full of investments.... lorem ipsum tdyhrah grayham tudamn sjie  full of investments.... lorem ipsum
					h2.completion__subtitle We have sent a verification email
					p.completion__text-next Check your spam if you didn't receive anything
					button(type="button").btn.secondary ENTER PLATFORM

