extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education1-section
			.container
				.education1
					.education1__head
						img(src="images/line1.png", alt="")
						h2.education1__title HOW IT 
						h2.education1__subtitle WORKS
					.education1__content
						.education1__first-case
							a(href="education.html") 
								h2.education1__first-title GO TO START
							.education1__first-line
							.education1__line-vert_small
							a(href="education.html")
								.education1__first-field
									.education1__field-title BACK
									.education1__field-subtitle Education
										br
										| Section
							.education1__first-line_long
							.education1__line-vert_small
							.education1__first-inner
								.education1__inner-img
									img(src="images/hamb.png", alt="")
								h2.education1__inner-title DISCOVER
								h3.education1__inner-subtitle MATCHES
						.education1__line-vert
						.education1__second-case
							.education1__second-image
								img(src="images/pic3.png", alt="")
							.education1__second-line
							.education1__line-vert_small
							h4.education1__second-inner We give you all current and upcoming matches from all around the world.
						.education1__third-case
							.education1__third-line
							.education1__line-vert_small
							.education1__third-image
								img(src="images/pic4.png", alt="")
						.education1__fourth-case
							.education1__fourth-line_up
							.education1__line-vert_small
							.education1__fourth-image
								img(src="images/pic5.png", alt="")
							.education1__fourth-line
							.education1__line-vert_small
							h4.education1__fourth-inner Have a look around on what's available and choose what you want to do.
						.education1__line-vert
						a(href="education2.html")
							.education1__fifth-case
								h4.education1__fifth-title NEXT
								h4.education1__fifth-subtitle Invest With Our Platform



block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite