extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education2-section
			.container
				.education2
					.education2__head
						img(src="images/line1.png", alt="")
						h2.education2__title HOW IT 
						h2.education2__subtitle WORKS
					.education2__content
						.education2__first-case
							a(href="education.html") 
								h2.education2__first-title GO TO START
							.education2__first-line
							.education2__line-vert_small
							a(href="education1.html")
								.education2__first-field
									.education2__field-title BACK
									.education2__field-subtitle Discover
										br
										| Matches
							.education2__first-line_long
							.education2__line-vert_small
							.education2__first-inner
								.education2__inner-img
									img(src="images/trending.png", alt="")
								h2.education2__inner-title INVEST
								h3.education2__inner-subtitle WITH US
						.education2__line-vert
						.education2__second-case
							.education2__second-image
								img(src="images/pic6.png", alt="")
							.education2__second-line
							.education2__line-vert_small
							h4.education2__second-inner After you have discovered matches and markets, you can go ahead and invest with our virtual balance.
						.education2__line-vert_start
						.education2__third-case
							.education2__third-image
								img(src="images/pic7.png", alt="")
							.education2__third-line
							.education2__line-vert_small
							h4.education2__fourth-inner Or, take advantage our true data (odds, value, percentages).
							.education2__line-vert_ab
						.education2__line-vert_small
						.education2__fourth-case
							h4.education2__fourth-inner With your new investing mindset and after you have won consistently on our platform, apply our true data on your favorite broker.
							.education2__line-vert_small
							.education2__fourth-line
							
							.education2__fourth-image
								img(src="images/pic9.png", alt="")
						.education2__line-vert_start
						a(href="education3.html")
							.education2__fifth-case
								h4.education2__fifth-title NEXT
								h4.education2__fifth-subtitle Evaluate Your 
									br
									| Strategy




block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite