extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education4-section
			.container
				.education4
					.education4__head
						img(src="images/line1.png", alt="")
						h2.education4__title HOW IT 
						h2.education4__subtitle WORKS
					.education4__content
						.education4__first-case
							a(href="education.html") 
								h2.education4__first-title GO TO START
							.education4__first-line
							.education4__line-vert_small
							a(href="education3.html")
								.education4__first-field
									.education4__field-title BACK
									.education4__field-subtitle Evaluate 
										br
										| Yourself
							.education4__first-line_long
							.education4__line-vert_small
							.education4__first-inner
								.education4__inner-img
									img(src="images/cross.png", alt="")
								h2.education4__inner-title MAXIMIZE
								h3.education4__inner-subtitle YOUR PROFITS
						.education4__line-vert
						.education4__second-case
							
							.education4__second-line
							.education4__line-vert_small
							h4.education4__second-inner Over time you will be completing missions with our ranking system and leveling up.
						
						.education4__third-case
							.education4__third-image
								img(src="images/pic13.png", alt="")
							.education4__third-line
							.education4__line-vert_small
							h4.education4__fourth-inner Each rank will benefit you to maximize your profits and have an advantage to invest more.
							
						.education4__line-vert
						.education4__fourth-case
							
							h4.education4__fourth-inner You will be asked a series of questions on every rank up, be prepared to test your knowledge.
							.education4__line-vert_small
							.education4__fourth-line
							
							.education4__fourth-image
								img(src="images/pic14.png", alt="")
						.education4__line-vert_start
						a(href="education5.html")
							.education4__fifth-case
								h4.education4__fifth-title NEXT
								h4.education4__fifth-subtitle Climb 
									br
									| Leaderboard




block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite