extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education6-section
			.container
				.education6
					.education6__head
						img(src="images/line1.png", alt="")
						h2.education6__title HOW IT 
						h2.education6__subtitle WORKS
					.education6__content
						.education6__first-case
							a(href="education.html")
								h2.education6__first-title GO TO START
							.education6__first-line
							.education6__line-vert_small
							a(href="education5.html")
								.education6__first-field
									.education6__field-title BACK
									.education6__field-subtitle Climb
										br
										| Leaderboard
							.education6__first-line_long
							.education6__line-vert_small
							.education6__first-inner
								.education6__inner-img
									img(src="images/picfoot.png", alt="")
								h2.education6__inner-title WIN THE
								h3.education6__inner-subtitle IN-HOUSE
									br
									| MONTHLY
									br
									| POT
						.education6__line-vert
						.education6__second-case
							.education6__second-image
								img(src="images/pic16.png", alt="")
							.education6__second-line
							.education6__line-vert_small
							h4.education6__second-inner All top 10 users at the end of each month will win real money with the in-house monthly pot.
						
						.education6__line-vert_start
						.education6__fifth-case
							h4.education6__fourth-inner You will have a fair chance to be in the leaderboard even if you just started.
							.education6__first-line_long
							.education6__line-vert_small
							a(href="account.html")
								.education6__fifth-content
									h4.education6__fifth-title SIGN
									h4.education6__fifth-subtitle UP




block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite