extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education3-section
			.container
				.education3
					.education3__head
						img(src="images/line1.png", alt="")
						h2.education3__title HOW IT 
						h2.education3__subtitle WORKS
					.education3__content
						.education3__first-case
							a(href="education.html") 
								h2.education3__first-title GO TO START
							.education3__first-line
							.education3__line-vert_small
							a(href="education2.html")
								.education3__first-field
									.education3__field-title BACK
									.education3__field-subtitle Invest With
										br
										| Us
							.education3__first-line_long
							.education3__line-vert_small
							.education3__first-inner
								.education3__inner-img
									img(src="images/circle.png", alt="")
								h2.education3__inner-title EVALUATE
								h3.education3__inner-subtitle YOURSELF
						.education3__line-vert
						.education3__second-case
							.education3__second-image
								img(src="images/pic10.png", alt="")
							.education3__second-line
							.education3__line-vert_small
							h4.education3__second-inner With our history engine, analyze your bets and modify your strategy over time.
						.education3__third-case
							.education3__third-line
							.education3__line-vert_small
							.education3__third-image
								img(src="images/pic11.png", alt="")
						.education3__fourth-case
							.education3__fourth-line_up
							.education3__line-vert_small
							h4.education3__fourth-inner We will be following up on your progress and helping you along the way with our messaging system.
							.education3__line-vert_start
						.education3__fifth-case
							.education3__fourth-image
								img(src="images/pic12.png", alt="")
							.education3__fifth-line
							.education3__line-vert_small
							a(href="education4.html")
								.education3__fifth-content
									h4.education3__fifth-title NEXT
									h4.education3__fifth-subtitle Maximize Your 
										br
										| Profits




block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite