extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education5-section
			.container
				.education5
					.education5__head
						img(src="images/line1.png", alt="")
						h2.education5__title HOW IT 
						h2.education5__subtitle WORKS
					.education5__content
						.education5__first-case
							a(href="education.html")
								h2.education5__first-title GO TO START
							.education5__first-line
							.education5__line-vert_small
							a(href="education4.html")
								.education5__first-field
									.education5__field-title BACK
									.education5__field-subtitle Maximize
										br
										| Your Profits
							.education5__first-line_long
							.education5__line-vert_small
							.education5__first-inner
								.education5__inner-img
									img(src="images/ladder.png", alt="")
								h2.education5__inner-title CLIMB THE
								h3.education5__inner-subtitle LEADERBOARD
						.education5__line-vert
						.education5__second-case
							.education5__second-line
							.education5__line-vert_small
							h4.education5__second-inner Once you're up and running your profits will allow you to play a part of the leaderboard.
						
						.education5__third-case
							.education5__third-image
								img(src="images/pic15.png", alt="")
							.education5__third-line
							.education5__line-vert_small
							h4.education5__fourth-inner The leaderboard is full of surprises.
							
						.education5__line-vert
						a(href="education6.html")
							.education5__fifth-case
								h4.education5__fifth-title NEXT
								h4.education5__fifth-subtitle Win Our In-House 
									br
									| Monthly Pot




block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite