extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education-section
			.container
				.education
					.education__head
						img(src="images/line1.png", alt="")
						h2.education__title HOW IT 
						h2.education__subtitle WORKS
					.education__content
						.education__first-case 
							h2.education__first-title YOU
							.education__first-line
							.education__line-vert_small
							a(href="account.html")
								.education__first-field
									.education__field-title SIGN
									.education__field-subtitle UP
							.education__first-line_long
							.education__line-vert_small
							.education__first-inner
								.education__inner-img
									img(src="images/hat.png", alt="")
								h2.education__inner-title EDUCATION
								h3.education__inner-subtitle SECTION
						.education__line-vert
						.education__second-case
							.education__second-image
								img(src="images/pic1.png", alt="")
							.education__second-line
							.education__line-vert_small
							h4.education__second-inner Our education section will help you understand the concept more and you will learn how to use our platform seamlessly.
						.education__third-case
							.education__third-line
							.education__line-vert_small
							.education__third-image
								img(src="images/pic2.png", alt="")
						.education__fourth-case
							h4.education__fourth-inner Once you've had your go and got the hang of it. Start your investing journey.
							.education__fourth-line
							.education__line-vert_middle
						.education__line-vert_start
						a(href="education1.html")
							.education__fifth-case
								h4.education__fifth-title NEXT
								h4.education__fifth-subtitle Discover Available Matches



block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite