extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		include ../blocks/sections/intro-section/intro-section
		include ../blocks/sections/card-section/card-section
		include ../blocks/sections/how-it-work/how-it-work
		include ../blocks/sections/poll-section/poll-section
		include ../blocks/sections/comment-section/comment-section
		//- include ../blocks/sections/video-section/video-section
		include ../blocks/sections/inspect-section/inspect-section

block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite

block scripts
	script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
	script(src="js/entries/main-slider.js")
	script(async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v8.0" nonce="qDtSyyx2")