extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.payment-section
			.container
				.payment
					.payment__img
						img(src="images/ball.png", alt="")
					h2.page-title We Will Not Charge You !
					h4.payment__subtitle We ask for your payment information to provide security and a seamless subscription experience. You can cancel anytime to avoid being charged and we’ll even send an email reminder 2 days before the trial ends.
					.payment__wrap
						.payment__img_next
							img(src="images/paypal.svg", alt="")
						h4.payment__text Pay with PayPal
					
					form.payment-form
						.payment-form__wrap
							input(type="email" name="email" id="email" placeholder="Email" required).payment-form__input
							input(type="password" name="password" id="password" placeholder="Password" required).payment-form__input
							.payment-checkbox 
								input(type="checkbox" id="myCheckbox")
								label(for="myCheckbox")
								h4.payment-checkbox__text Stay logged in for faster checkout
									span Not recommended on shared devices
							button(type="submit").btn.secondary LOG IN
							a(href="#")
								h4.payment__issue Having trouble logging in ?
							h4.payment__line
								span or 
							.payment__btn
								button.btn.secondary Pay with Debit or Credit Card
							a(href="#")
								h4.payment__issue_next Cancel and return
