extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.plan-section
			.container
				.plan
					.plan__img
						img(src="images/ball.png", alt="")
					h2.page-title Choose Your Plan
					.plan__switch
						.plan__switch-title Monthly
						.plan__switch-btn
							form(action="#" id="").switch-form
									.switch-form__field
										input(type='radio', name='switch-one', value='Basic', id="radio-one-fourth", class="basic-input" checked)
										label(for='radio-one-fourth').js-month
										input(type='radio', name='switch-one', value='Premium' id="radio-two-fourth", class="premium-input")
										label(for='radio-two-fourth').js-year
						.plan__switch-title Yearly
					.plan__wrap
						.plan__top-case
							h2.plan__title 7 DAY TRIAL
							h3.plan__subtitle You will have a 7 day trial of the professional package, no matter what you choose. You will not be charged for the first 7 days and you can cancel subscription any time.
						.plan__content
							.plan__rate
								h3.plan__rate-title Professional
								.plan__rate-wrap.js-rate
									h2.plan__rate-subtitle 15
										span $
									h2.plan__rate-subtitle 180
										span $
								ul.plan__rate-list
									li.plan__list-title.plan__list-title_green All Summer Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Winter Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Champions League
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green International Cups
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Markets
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Filters
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Education Library
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green DB Invest Algorithm
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green 1 Free Reset
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Enters In-House Pot
										span We cover 52 summer leagues.
								button(type="button").plan__btn Choose Plan
							.plan__rate
								h3.plan__rate-title Basic
								.plan__rate-wrap.js-rate
									h2.plan__rate-subtitle 10
										span $
									h2.plan__rate-subtitle 120
										span $
								ul.plan__rate-list
									li.plan__list-title.plan__list-title_green All Summer Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Winter Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red Champions League
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red International Cups
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Markets
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red All Filters
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Education Library
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green DB Invest Algorithm
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red 1 Free Reset
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Enters In-House Pot
										span We cover 52 summer leagues.
								button(type="button").plan__btn Choose Plan