extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.pricing-section
			.container
				.pricing
					h2.page-title Plans & Pricing
					.pricing__switch
						.pricing__switch-title Monthly
						.pricing__switch-btn
							form(action="#" id="").switch-form
									.switch-form__field
										input(type='radio', name='switch-one', value='Basic', id="radio-one-fourth", class="basic-input" checked)
										label(for='radio-one-fourth').js-month
										input(type='radio', name='switch-one', value='Premium' id="radio-two-fourth", class="premium-input")
										label(for='radio-two-fourth').js-year
						.pricing__switch-title Yearly
					.pricing__wrap
						.pricing__top-case
							h2.pricing__title 7 DAY TRIAL
							h3.pricing__subtitle You will have a 7 day trial of the professional package, no matter what you choose. You will not be charged for the first 7 days and you can cancel subscription any time.
						.pricing__content
							.pricing__rate
								h3.pricing__rate-title Professional
								.plan__rate-wrap.js-rate
									h2.plan__rate-subtitle 15
										span $
									h2.plan__rate-subtitle 180
										span $
								ul.pricing__rate-list
									li.pricing__list-title.plan__list-title_green All Summer Leagues
									li.pricing__list-title.plan__list-title_green All Winter Leagues
									li.pricing__list-title.plan__list-title_green Champions League
									li.pricing__list-title.plan__list-title_green International Cups
									li.pricing__list-title.plan__list-title_green All Markets
									li.pricing__list-title.plan__list-title_green All Filters
									li.pricing__list-title.plan__list-title_green Education Library
									li.pricing__list-title.plan__list-title_green DB Invest Algorithm
									li.pricing__list-title.plan__list-title_green 1 Free Reset
									li.pricing__list-title.plan__list-title_green Enters In-House Pot
							.pricing__rate
								h3.pricing__rate-title Basic
								.plan__rate-wrap.js-rate
									h2.plan__rate-subtitle 10
										span $
									h2.plan__rate-subtitle 120
										span $
								ul.pricing__rate-list
									li.pricing__list-title.plan__list-title_green All Summer Leagues
									li.pricing__list-title.plan__list-title_green All Winter Leagues
									li.pricing__list-title.plan__list-title_red Champions League
									li.pricing__list-title.plan__list-title_red International Cups
									li.pricing__list-title.plan__list-title_green All Markets
									li.pricing__list-title.plan__list-title_red All Filters
									li.pricing__list-title.plan__list-title_green Education Library
									li.pricing__list-title.plan__list-title_green DB Invest Algorithm
									li.pricing__list-title.plan__list-title_red 1 Free Reset
									li.pricing__list-title.plan__list-title_green Enters In-House Pot
					form.main-form
						.main-form__wrap
							button(type="submit").btn.arrow.primary Start Free Trial