extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.tabs-section
			.container
				.tabs.js-tabs
					ul.tabs__list.js-tab-btn
						li.tabs__item.active About
						li.tabs__item Contact
						li.tabs__item.js-faq-tab FAQ
						li.tabs__item LEGAL
					.tabs__content.js-tab-content.active
						include ../blocks/sections/tabs-section/about-section
					.tabs__content.js-tab-content
						include ../blocks/sections/tabs-section/contact-section
					.tabs__content.js-tab-content.js-faq-tab
						include ../blocks/sections/tabs-section/faq-section
					.tabs__content.js-tab-content
						include ../blocks/sections/tabs-section/legal-section

block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite