section.how-it-work-section
	.container
		.step-wrap
			.step-head
				img(src="images/line1.png", alt="")
				h2.step-title.step-title_lite HOW IT 
				h2.step-title WORKS
				span.step-sub-title Click On Map

			img(src="images/line.svg", alt="").main-img

			.step-content
				a(href="account.html")
					span.step.step_one(data-aos="fade-up" data-aos-duration="1000") Sign Up
				a(href="education.html")
					span.step.step_two(data-aos="fade-up" data-aos-duration="1100") Pass By Our Education Section and Learn How to Invest
				a(href="education1.html")
					span.step.step_three(data-aos="fade-up" data-aos-duration="1200") Discover Available Matches
				a(href="education2.html")
					span.step.step_five(data-aos="fade-up" data-aos-duration="1400") Invest Using Our Virtual Balance or Take Our True Odds and Visit Your Favorite Broker
				a(href="education3.html")
					span.step.step_four(data-aos="fade-up" data-aos-duration="1300") Evaluate Your Strategy Over Time
				a(href="education4.html")
					span.step.step_six(data-aos="fade-up" data-aos-duration="1500") Maximize Your Virtual Profits and Build Your Profile
				a(href="education5.html")
					span.step.step_seven(data-aos="fade-up" data-aos-duration="1600") Climb Leaderboard
				img(src="images/line-mob.svg", alt="").main-img-mob

			.step-footer
				img(src="images/line2.png", alt="")
				a(href="education6.html")
					.title-wrap
						h3.step-info WIN THE IN-HOUSE
						h2.step-title MONTHLY POT