.how-it-work-section {
  padding: 0 0 70px;

  @media screen and (min-width: 1024px) {
    padding: 0 0 261px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .main-img {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      width: 100%;
    }
  }

  .main-img-mob {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .step-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1024px) {
      max-width: 964px;
      margin: 0 auto;
    }
  }

  .step-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;

    @media screen and (min-width: 1024px) {
      position: absolute;
      top: -90px;
      left: 75px;
      margin-bottom: 0;
    }
  }

  .step-footer {
    display: flex;
    align-items: flex-start;

    @media screen and (min-width: 1024px) {
      position: absolute;
      bottom: -170px;
      left: 250px;
    }
  }

  .step-title {
    color: $white;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    &:hover {
      color: $hover-red;
      transition: $base-transition;
    }

    @media screen and (min-width: 1024px) {
      font-size: 52px;
    }

    &_lite {
      font-weight: 200;
    }
  }

  .step-info {
    font-size: 31px;
    font-weight: 200;
    line-height: 1;
    color: $white;

    &:hover {
      color: $hover-red;
      transition: $base-transition;
    }
  }

  .step-sub-title {
    color: $white;
    font-size: 20px;
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  .title-wrap {
    position: relative;
    left: -105px;    
  }

  .step-content {
    width: 100%;
    position: relative;
    width: 100%;
    max-width: 315px;
    position: relative;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      position: static;
    }

    .step {
      &:nth-child(2n-1) {
        margin-right: auto;
        text-align: right;
      }

      &:nth-child(2n) {
        margin-left: auto;
      }
    }
  }

  .step {
    color: $white;
    font-size: 12px;
    line-height: 1.2;
    width: 124px;
    display: block;
    cursor: pointer;
    transition: $base-transition;

    &:hover {
      color: $hover-red;
    }

    @media screen and (min-width: 1024px) {
      font-size: 20px;
      max-width: 240px;
      width: auto;
      position: absolute;
      text-align: center !important;
      margin: 0 !important;
    }

    &_one {
      margin-top: 23px;
      margin-bottom: 113px;

      @media screen and (min-width: 1024px) {
        top: 60px;
        left: 345px;
      }
    }

    &_two {
      margin-bottom: 92px;

      @media screen and (min-width: 1024px) {
        top: 58px;
        right: 120px;
      }
    }

    &_three {
      margin-bottom: 106px;

      @media screen and (min-width: 1024px) {
        top: 192px;
        right: 40px;
        max-width: 190px;
      }
    }

    &_four {
      margin-bottom: 107px;

      @media screen and (min-width: 1024px) {
        top: 425px;
        left: 190px;
        max-width: 200px;
      }
    }

    &_five {
      margin-bottom: 77px;

      @media screen and (min-width: 1024px) {
        top: 425px;
        left: 513px;
        max-width: 220px;
      }
    }

    &_six {
      margin-bottom: 105px;

      @media screen and (min-width: 1024px) {
        top: 825px;
        left: 255px;
        max-width: 242px;
      }
    }

    &_seven {
      margin-bottom: 160px;

      @media screen and (min-width: 1024px) {
        top: 825px;
        right: 190px;
      }
    }
  }
}
