section.comment-section
	img(src="images/decor.png", alt="").decor-img
	.container
		a(href="https://www.facebook.com/dontbet.invest/" target="_blank").comment-header
			img(src="images/fb.svg", alt="")
			.comment-info
				h3.comment-info__title 159K 
					span Likes
				.comment-like
					iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fdontbet.invest%2F&width=102&layout=button&action=like&size=large&share=false&height=65&appId" width="102" height="40" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")
				span.comment-info__subtitle Consultancy Agency
		.comment-title COMMENTS
		.comment-wrap
			a(href="https://www.facebook.com/ismail.unal.940436/posts/2021566904770503" target="_blank" data-aos="fade-up" data-aos-duration="1000").comment
				.comment__wrap
					.comment__head
						.comment__img
							img(src="images/person1.svg", alt="")
						.comment__case
							span.comment__user-name Ismail Ünal 
							span.comment__date December 24, 2016
							.comment__raiting
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
					p.comment__text A Super system, best method, best IQ, bes service.
			a(href="https://www.facebook.com/ezirimp/posts/3110969632320389" target="_blank" data-aos="fade-up" data-aos-duration="1000").comment
				.comment__wrap
					.comment__head
						.comment__img
							img(src="images/person3.svg", alt="")
						.comment__case
							span.comment__user-name Ezirim A Chukwue 
							span.comment__date April 15, 2017
							.comment__raiting
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
					p.comment__text I like the philosophy the company  operates on. So cool !
			a(href="https://www.facebook.com/lararain/posts/10158324925210022:0" target="_blank" data-aos="fade-up" data-aos-duration="1000").comment
				.comment__wrap
					.comment__head
						.comment__img
							img(src="images/person2.svg", alt="")
						.comment__case
							span.comment__user-name Gwaza Gwaza 
							span.comment__date December 18, 2016
							.comment__raiting
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
								img(src="images/star.svg", alt="")
					p.comment__text It's good today to sign up believe in this, I'm telling you guys.