.comment-section {
  padding: 30px 0 40px;
  color: $white;
  position: relative;

  .decor-img {
    position: absolute;
    top: -78%;
    left: 4%;
    width: 120%;
    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    padding: 30px 0 61px;
  }

  .container {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 375px) {
      max-width: 982px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .comment-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
    color: $white;

    @media screen and (min-width: 768px) {
      margin-bottom: 45px;
    }

    img {
      margin-right: 20px;
      width: auto;
    }
  }

  .comment-like {
    margin: 10px 0 0;
    overflow: hidden;
  }
  .comment-info {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 27px;
      font-weight: 600;

      span {
        font-weight: 200;
      }

      @media screen and (min-width: 768px) {
        font-size: 30px;
        margin-top: -7px;
      }
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 12px;

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .comment-title {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}

.comment-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 10px;

  @media screen and (min-width: 1024px) {
    margin: 0 -18px 10px;
  }

  .comment {
    width: 100% !important;
    padding: 0 12px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 50% !important;
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1024px) {
      width: 33.33% !important;
      padding: 0 13px;
    }
  }
}

.comment {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-radius: $secondary-radius;
    border: 1px solid #FFFFFF;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
      padding: 20px;
    }
  }

  &__head {
    display: flex;
  }

  &__img {
    margin-bottom: 12px;
    margin-right: 15px;
    flex: none;

    img {
      width: 90%;

      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }
  }

  &__case {
    display: flex;
    flex-direction: column;
  }

  &__user-name {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
    color: $white;
    margin-bottom: 7px;

    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }

  &__date {
    color: $color-text;
    font-size: 9px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 9px;

    @media screen and (min-width: 768px) {
      font-size: 11px;
    }
  }

  &__raiting {
    img {
      margin-right: 5px;
      width: 14px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (min-width: 845px) {
        width: 16px;
      }
    }
  }

  &__text {
    font-size: 12px;
    font-weight: 300;
    color: $white;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
      font-size: 17px;
      line-height: 1.8;
    }
  }
}