header.header
	.container
		.burger.js-burger
			span
			span
			span
		
		a(href="index.html").logo
			img(src="images/logo-icon.svg", alt="")
		
		.user-wrap
			buttom(type="button").user-btn.js-member MEMBER 
				span LOG IN
			.user-form.js-user-form
				form.member-form
					h2.member-form__title MEMBER 
						span LOG IN
					a(href="account.html").member-form__subtitle Not a member yet ?
					.member-form__wrap
						label(for="email").cmember-form__label
						input(type="email" name="email" id="emailmember" placeholder="Your email" required).member-form__input
						label(for="password").member-form__label
						.member-form__input-wrap
							input(type="password" name="password" id="passwordmember" placeholder="Your Password" required).member-form__input
							button(type="button").member-form__btn
						a(href="#").member-form__forgot Forgot Password ?
						button(type="submit").btn.secondary Sign In
		
		.btn-wrap
			a(href="account.html").btn.secondary SIGN UP

		nav.menu.js-nav
			.container
				ul.menu__list
					li.menu__item
						a(href="index.html").menu__link Home
					li.menu__item
						a(href="pricing.html").menu__link Plans & Pricing
					li.menu__item
						a(href="tabs.html").menu__link About Us
					li.menu__item
						a(href="tabs.html").menu__link Contact Us
					li.menu__item.js-open-faq
						a(href="tabs.html").menu__link FAQ