.header {
  position: absolute;
  top: 21px;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }

  .logo {
    position: relative;
    bottom: -2px;
    display: none;

    @media screen and (min-width: 480px) {
      display: block;
    }
  }

  .user-wrap {
    margin: 0 0 0 auto;
    position: relative;
  }

  .user-btn {
    color: $white;
    position: relative;
    cursor: pointer;
    margin-right: 15px;

    span {
      font-weight: 700;
      padding-right: 27px;
    }

    &:hover {
      color: $hover-red;
      transition: 0.3s ease;
    }

    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 37%;
      right: 0;
      transform: translateX(-50%);
      background-image: url("../images/dnarr-sm.svg");
      background-repeat: no-repeat;
    }
  }

  .btn-wrap {
    margin: 0;

    @media screen and (min-width: 768px) {
      margin: 0 0 0 20px;
    }

    .btn.secondary {
      width: auto;
      border-radius: 2.5px;
      box-shadow: 0 0 3px 0 rgba(238, 54, 150, 0.68);
      border: solid 1px #ee3696;
      background-color: transparent;
      display: block;
      text-align: center;
      height: 40px;
      padding: 13px;

      &:hover {
        background-color: rgba(238, 54, 150, 0.68);
      }

      @media screen and (min-width: 768px) {
        width: 120px;
      }
    }
  }
}

.menu {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100vw;
  min-height: 414px;
  transition: all 0.5s ease;
  z-index: 2;
  padding: 90px 0 0 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.85);

  .burger {
    position: absolute;
    right: 30px;
    top: -53px;
  }

  .container {
    position: relative;
    justify-content: flex-start;
  }

  &.active {
    top: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    margin: 0 0 32px;
  }

  &__link {
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0.34px;
    text-align: left;
    color: $white;

    &:hover,
    &.active {
      color: $hover-red;
      text-shadow: 0 0 1px rgba(255, 41, 213, 0.75);
    }
  }
}

.burger {
  position: relative;
  z-index: 3;
  width: 17px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    width: 17px;
    height: 2px;
    background: $white;
    border-radius: $tertiary-radius;
    transition: $base-transition;
    position: relative;

    &:nth-child(1) {
      margin-bottom: 5px;
    }

    &:nth-child(3) {
      margin-top: 5px;
    }
  }

  &.active {
    &:after {
      display: none;
    }

    span {
      &:nth-child(1) {
        top: 7px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateX(-100px);
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 7px;
        transform: rotate(-45deg);
      }
    }
  }
}