include bem

doctype html
html(lang='ru')
	include head
	body(class=pageClass)
		.loader-wrap
			.loader
				span
				span
				span
				span
		.wrapper
			block header
			block content
			block footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		block scripts
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js")
		script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src='js/libs/libs.min.js')
		script(src='js/app.js')
