head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	block head
	title= pageTitle || 'DBInvest'
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	link(href='css/main.css' rel='stylesheet' type='text/css')