footer.footer
	.top-footer
		.container
			ul.soc
				li.soc__item
					a(href="#").soc__link
						svg
							use(xlink:href='#soc-youtube')
				li.soc__item
					a(href="#").soc__link
						svg
							use(xlink:href='#soc-facebook')
				li.soc__item
					a(href="#").soc__link
						svg
							use(xlink:href='#soc-twitter')
			
			nav.nav
				span.nav__title Home
				ul.nav__list
					li.nav__item
						a(href="#").nav__link Sign In
					li.nav__item
						a(href="account.html").nav__link Sign Up
					li.nav__item
						a(href="pricing.html").nav__link Plans & Pricing
			
			nav.nav
				span.nav__title COMPANY
				ul.nav__list
					li.nav__item
						a(href="tabs.html").nav__link About
					li.nav__item
						a(href="tabs.html").nav__link Contact Us 
					li.nav__item
						a(href="tabs.html").nav__link FAQ
			
			nav.nav
				span.nav__title Legal
				ul.nav__list
					li.nav__item
						a(href="tabs.html").nav__link Terms & Conditions
					li.nav__item
						a(href="tabs.html").nav__link Privacy Policy
	
	.bottom-footer
		.container
			p.footer-text The content on dontbetinvest.com is for informational and educational purposes only and should not be construed as professional financial advice. Should you need such advice, consult a licensed financial or tax advisor. References to products, offers, and rates from third party sites often change. While we do our best to keep these updated, numbers stated on this site may differ from actual numbers. We may have financial relationships with some of the companies mentioned on this website. Among other things, we may receive free products, services, and/or monetary compensation in exchange for featured placement of sponsored products or services. We strive to write accurate and genuine reviews and articles, and all views and opinions expressed are solely those of the authors.
			span.copyright © 2016–2020 
				span.regular-text LET Investing Limited
			span.copyright All rights reserved.