.footer {
    padding: 120px 0 85px;

    @media screen and (min-width: 768px) {
        padding: 170px 0 165px;
    }

    .top-footer {
        padding-bottom: 30px;
        border-bottom: 6px solid $hover-red;

        @media screen and (min-width: 768px) {
            padding-bottom: 60px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
            }
        }
    }

    .bottom-footer {
        padding-top: 70px;
    }

    .footer-text {
        font-size: 12px;
        font-weight: 200;
        line-height: 1.58;
        text-align: center;
        color: $white;
        max-width: 896px;
        width: 100%;
        margin: 0 auto 35px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin: 0 auto 50px;
        }
    }

    .copyright {
        font-size: 18px;
        font-weight: 200;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
        display: block;
        text-align: center;
    }
}

.soc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 40px;
    }

    &__item {
        margin: 0 10px;

        @media screen and (min-width: 768px) {
            margin: 0 0 16px;
        }
    }

    svg {
        width: 30px;
        height: 30px;
        fill: $soc-icon;
        transition: $base-transition;

        &:hover {
            fill: $white;
        }
    }
}

.nav {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin: 0 40px;
    }

    &__title {
        display: block;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        color: $white;
        margin-bottom: 20px;
        text-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16);

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            align-items: flex-start;
        }
    }

    &__link {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        color: $white;

        &:hover {
            color: $hover-red;
        }
    }
}