.account-section {
  padding: 50px 0 150px;

  .btn {
    &.secondary {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .payment-checkbox {
    padding: 5px 0;
    &__text {
      font-size: 10px;
      font-weight: 300;
      letter-spacing: 0.41px;
      line-height: 1.25;

      @media screen and (min-width: 768px) {
        font-size: 12px;
      }

      a {
        display: block;
        text-decoration: underline;
        font-weight: 600;
        color: $white;

        &:hover {
          color: $hover-red;
          transition: 0.3s;
        }
      }
    }
  }
}
.account {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  &__line {
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.61px;
    line-height: 1.11;
    text-align: center;
    max-width: 289px;
    width: 100%;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      max-width: 345px;
      width: 100%;
    }

    span {
      display: inline-block;
      margin: 1.4em;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        border-top: 1px solid $white;
        margin-top: 0.6em;
      }

      &:before {
        margin-left: -103%;
      }

      &:after {
        margin-left: 3%;
      }
    }
  }

  &__img {
    margin-bottom: 27px;
  }

  &__subtitle {
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 0.37px;
    line-height: 1.45;
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      letter-spacing: 0.48px;
      line-height: 1.43;
      margin-bottom: 16px;
    }
  }

  &__btn_wrap {
    display: flex;
    margin-bottom: 29px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    width: 141px;
    height: 36px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    border-radius: $base-radius;
    border: 1px solid $white;
    background-color: $white;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 168px;
      height: 43px;
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn-img {
    margin-right: 11px;
  }

  &__btn-title {
    color: $black;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.18;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}

.account-form {
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 289px;

    @media screen and (min-width: 768px) {
      width: 345px;
    }
  }

  &__label,
  &__select-text {
    display: inline-block;
    color: $white;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.34px;
    line-height: 1;
    vertical-align: top;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.41px;
      font-size: 12px;
    }

    span {
      color: $label-color;
      font-weight: 400;
    }
  }

  &__input,
  #list {
    width: 100%;
    height: 36px;
    border-radius: $base-radius;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.5;
    color: #e5e5e5;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.34px;
    line-height: 1;
    background-clip: padding-box;
    display: block;
    padding: 8px 30px 8px 9px;
    margin-bottom: 20px;
    overflow: hidden;
    font-style: italic;

    &::placeholder {
      color: $white;
    }

    @media screen and (min-width: 768px) {
      height: 43px;
      font-size: 12px;
      letter-spacing: 0.41px;
    }

    &:last-child {
      background-color: transparent;
    }
  }

  #list {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .input_bg {
    background-color: transparent;
  }

  .btn {
    max-width: 289px;
    width: 100%;
    position: relative;
    height: 50px;
    font-size: 10px;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      max-width: 345px;
      width: 100%;
      height: 60px;
    }
  }
}
