.completion-section {
  height: 100vh;
  padding: 50px 0 150px;

  .btn {
    &.secondary {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 52px;

      @media screen and (min-width: 768px) {
        height: 60px;
      }
    }
  }
}
.completion {
  max-width: 373px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  &__img {
    margin-bottom: 27px;
  }

  &__title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.19px;
    line-height: 1;
    margin-left: 15px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 35px;
    }
  }

  &__text,
  &__text-next {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.48px;
    line-height: 1.43;
    margin-bottom: 23px;
    text-align: center;

    &_heavy {
      margin-bottom: 61px;

      @media screen and (min-width: 768px) {
        margin-bottom: 71px;
      }
    }
  }

  &__text-next {
    @media screen and (max-width: 768px) {
      font-size: 11px;
    }
  }

  &__subtitle {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.85px;
    line-height: 1;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }

  .btn {
    max-width: 345px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 768px) {
      font-size: 10px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      right: 25%;
      transform: translateY(-50%);
      background-image: url("../images/arr-rp.svg");
      background-repeat: no-repeat;
    }
  }
}
