.education4-section {
  padding: 50px 0 150px;
  color: $white;

  a {
    color: $white;
  }
}

.education4 {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;

    img {
      width: auto;
      margin-bottom: -12px;

      @media screen and (min-width: 768px) {
        width: auto;
        margin-bottom: -18px;
      }
    }
  }

  &__title {
    color: $white;
    font-size: 37px;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    @media screen and (min-width: 1024px) {
      font-size: 56px;
    }
  }

  &__subtitle {
    color: $white;
    font-size: 35px;
    font-weight: 700;
    line-height: 0.8;

    @media screen and (min-width: 1024px) {
      font-size: 52px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__first-case {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__second-case {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-left: auto;
      margin-right: calc(50% - 346px);
      margin-bottom: -184px;
    }

    @media screen and (min-width: 1024px) {
      margin-right: calc(50% - 374px);
    }
  }

  &__third-case {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
    }

    @media screen and (min-width: 820px) {
      margin-right: calc(50% - 374px);
    }
  }

  &__fourth-case {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    position: relative;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-left: calc(50% - 319px);
      align-items: center;
      margin-bottom: -68px;
    }

    @media screen and (min-width: 800px) {
      margin-bottom: -80px;
      margin-left: calc(50% - 319px);
    }
  }

  &__fifth-case {
    max-width: 151px;
    width: 100%;
    height: 151px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid $white;
    background-color: rgba(238, 54, 150, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    border-radius: 50%;
    margin: 0 auto;

    &:hover {
      box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
      border-color: rgba(238, 54, 150, 0.5);
      transition: 0.3s;
    }

    @media screen and (min-width: 768px) {
      margin-left: calc(50% - 266px);
      max-width: 180px;
      width: 100%;
      height: 180px;
      padding-left: 40px;
    }
  }

  &__first-title {
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 52px;
    height: 52px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
      box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
      border-color: rgba(238, 54, 150, 0.5);
      transition: 0.3s;
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  }

  &__first-line {
    width: 127px;
    border-top: 1px dashed $white;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }

    &_long {
      width: 173px;
      border-top: 1px dashed $white;
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  &__line-vert {
    height: 76px;
    border-left: 1px dashed $white;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      height: 130px;
      border-left: 1px dashed $white;
      margin-left: auto;
      margin-right: calc(50% - 230px);
    }

    &_start {
      height: 63px;
      border-left: 1px dashed $white;
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        height: 130px;
        margin-right: auto;
        margin-left: calc(50% - 175px);
      }
    }

    &_small {
      height: 58px;
      border-left: 1px dashed $white;
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &_middle {
      height: 62px;
      border-left: 1px dashed $white;
      margin-top: -11px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &_ab {
      position: absolute;
      border-left: 1px dashed $white;
      height: 131px;
      top: 281px;
      right: 146px;
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  &__second-line {
    width: 118px;
    border-top: 1px dashed $white;
    margin-left: -12px;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__third-line {
    width: 118px;
    border-top: 1px dashed $white;
    margin-bottom: 90px;
    margin-left: -12px;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__fourth-line {
    width: 118px;
    border-top: 1px dashed $white;
    /* margin-left: -13px; */
    display: none;

    &_up {
      width: 118px;
      border-top: 1px dashed $white;
      position: absolute;
      top: 16%;
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        left: 269px;
      }

      @media screen and (min-width: 800px) {
        left: 292px;
      }
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__first-inner {
    width: 148px;
    height: 148px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      width: 180px;
      height: 180px;
    }
  }

  &__inner-title {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.11;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.14;
    }
  }

  &__inner-subtitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 15px;
      line-height: 1.11;
    }
  }

  &__second-inner,
  &__fourth-inner {
    width: 260px;
    height: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 19px 22px 0;

    @media screen and (min-width: 768px) {
      width: 288px;
      height: 181px;
      padding: 21px 25px 0;
    }
  }

  &__second-inner {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.38;
      text-align: start;
    }
  }

  &__fourth-inner {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.25;
      text-align: start;
    }
  }

  &__fifth-title {
    position: relative;
    margin-right: 20px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 25px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 16%;
      left: 70%;
      transform: translateX(-50%);
      background-image: url("../images/arr-rt.svg");
      background-repeat: no-repeat;
    }
  }

  &__fifth-subtitle {
    font-size: 14px;
    line-height: 1.78;
    font-weight: 400;
  }

  /* &__second-image, */
  &__fourth-image {
    margin-bottom: -15px;
    display: flex;
    justify-content: center;

    img {
      max-width: 70%;
      position: relative;
      z-index: 1;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 0;

      img {
        max-width: 100%;
      }
    }
  }

  &__fourth-image {
    @media screen and (min-width: 768px) {
      img {
        margin-bottom: -13px;
      }
    }
  }

  &__third-image {
    display: flex;
    justify-content: center;
    margin-bottom: -9px;

    img {
      max-width: 70%;
      position: relative;
      z-index: 1;
    }

    @media screen and (min-width: 768px) {
      transform: translateX(24px);
      margin-bottom: 0;
      img {
        max-width: 100%;
      }
    }

    @media screen and (min-width: 800px) {
      transform: none;
      /* transform: translateX(-22px); */
    }
  }

  &__first-field {
    width: 90px;
    height: 90px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid $white;
    background-color: rgba(238, 54, 150, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    padding-left: 24px;

    &:hover {
      box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
      border-color: rgba(238, 54, 150, 0.5);
      transition: 0.3s;
    }

    @media screen and (min-width: 768px) {
      width: 109px;
      height: 109px;
      padding-left: 31px;
    }
  }

  &__field-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-right: 10px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 33%;
      transform: translateY(-50%);
      background-image: url("../images/arr-left.svg");
      background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) {
      font-size: 15px;
    }
  }

  &__field-subtitle {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
  }
}
