.payment-section {
  padding: 50px 0 150px;

  .btn {
    &.secondary {
      align-items: center;
      display: flex;
      justify-content: center;
      text-transform: capitalize;
    }
  }
}
.payment {
  max-width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  &__line {
    position: relative;
    overflow: hidden;
    /* font-style: italic; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.61px;
    line-height: 1.11;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }

    span {
      display: inline-block;
      margin: 1.4em;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        border-top: 1px solid $white;
        margin-top: 0.6em;
      }

      &:before {
        margin-left: -103%;
      }

      &:after {
        margin-left: 3%;
      }
    }
  }

  .page-title {
    @media screen and (max-width: 768px) {
      font-size: 26.5px;
    }
  }

  &__img {
    margin-bottom: 27px;

    &_next {
      margin-bottom: 5px;
      margin-left: 7px;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 1.43;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (min-width: 768px) {
      letter-spacing: 0.48px;
      line-height: 1.43;
    }
  }

  &__btn {
    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
      margin-bottom: 28px;
    }
    .btn {
      &.secondary {
        width: 277px;
        height: 43px;
        border-radius: $base-radius;
        border: 1px solid $white;
        background-color: rgba(255, 255, 255, 0.2);

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.37px;
        line-height: 1;

        @media screen and (min-width: 768px) {
          width: 345px;
          height: 53px;
          font-size: 16px;
          letter-spacing: 0.54px;
        }

        &:hover {
          color: $white;
          box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
          border: 1px solid $hover-red;
          background-color: rgba(238, 54, 150, 0.5);
        }
      }
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.48px;
    line-height: 1.28;
    margin-bottom: 11px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 18px;
      letter-spacing: 0.61px;
    }
  }

  &__wrap {
    text-align: center;
  }

  &__issue {
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0.31px;
    line-height: 2;
    border-bottom: 1px solid $white;
    color: white;
    max-width: 109px;
    margin-bottom: 1px;
    &:hover {
      color: $hover-red;
      transition: 0.3s;
      border-bottom: 1px solid $hover-red;
    }

    &_next {
      font-size: 10px;
      letter-spacing: 0.34px;
      line-height: 1.7;
      border-bottom: 1px solid $white;
      color: white;
      max-width: 83px;
      &:hover {
        color: $hover-red;
        transition: 0.3s;
        border-bottom: 1px solid $hover-red;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
      letter-spacing: 0.41px;
      margin-bottom: 5px;
      max-width: 145px;

      &_next {
        font-size: 14px;
        letter-spacing: 0.48px;
        line-height: 1.7;
        max-width: 115px;
      }
    }
  }

  .payment-form {
    &__wrap {
      display: flex;
      flex-direction: column;
      width: 277px;

      @media screen and (min-width: 768px) {
        width: 345px;
      }
    }
    &__input {
      width: 100%;
      height: 36px;
      border-radius: $base-radius;
      border: 1px solid $white;
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.5;
      color: $white;
      font-size: 8px;
      font-weight: 300;
      letter-spacing: 0.27px;
      line-height: 1;
      background-clip: padding-box;
      display: block;
      padding: 8px 30px 8px 9px;
      margin-bottom: 16px;
      overflow: hidden;
      font-style: italic;
      &::placeholder {
        color: $ph-color;
      }

      @media screen and (min-width: 768px) {
        height: 43px;
        font-size: 12px;
        letter-spacing: 0.41px;
        margin-bottom: 18px;
      }

      &:last-child {
        background-color: transparent;
      }
    }

    .btn {
      max-width: 277px;
      width: 100%;
      position: relative;
      height: 50px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.54px;

      @media screen and (min-width: 768px) {       
        max-width: 345px;
        width: 100%;
        height: 60px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.54px;
      }
    }
  }

  button[type="submit"] {
    margin-bottom: 11px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  span {
    display: block;
  }
}
