.pricing-section {
  padding: 50px 0 150px;

  @media screen and (min-width: 768px) {
    padding: 50px 0 176px;
  }
}
.pricing {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  max-width: 579px;
  width: 100%;

  .page-title {
    margin-bottom: 28px;
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__img {
    margin-bottom: 27px;
  }

  &__top-case {
    /* width: 100%; */
    width: 275px;
    max-height: 171px;
    border: 2px solid $white;
    background-color: rgba(255, 41, 213, 0.3);
    border-radius: $secondary-radius;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 27px;

    @media screen and (min-width: 650px) {
      max-width: 579px;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      padding: 17px 80px;
      max-height: 121px;
      margin-bottom: 25px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.61px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.48px;
    line-height: 1.43;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    @media screen and (min-width: 650px) {
      flex-direction: row;
      margin-bottom: 41px;
    }
  }

  &__rate {
    max-width: 275px;
    width: 100%;
    margin-right: 0;
    padding: 25px 46px 16px 66px;
    border: 2px solid $white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: $secondary-radius;
    margin-bottom: 26px;
    background-image: url("../images/plan-bg.png");
    background-repeat: no-repeat;
    background-position: 103% -1%; 

    @media screen and (min-width: 650px) {
      flex-direction: row;
      margin-right: 29px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
      background-image: none;
    }
  }

  &__rate-title {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.58px;
    line-height: 1;
    text-align: center;
    margin-bottom: 18px;
    margin-left: -30px;
  }

  &__rate-subtitle {
    font-size: 38px;
    letter-spacing: 1.29px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    margin-bottom: 28px;
    margin-left: -30px;

    span {
      font-weight: 200;
    }
  }

  &__rate-list {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__list-title {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.51px;
    line-height: 1.5;
    margin-bottom: 10px;
    border-bottom: 1px dashed $white;
    position: relative;

    &_green:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 12px;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      background-image: url(../images/green.svg);
      background-repeat: no-repeat;
    }

    &_red:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 12px;
      top: 50%;
      left: -27px;
      transform: translateY(-50%);
      background-image: url(../images/red.svg);
      background-repeat: no-repeat;
    }
  }

  &__btn {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.48px;
    line-height: 1;
    width: 183px;
    height: 43px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    background-color: $white;
    border-radius: $base-radius;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -23px;
  }

  &__switch {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__switch-title {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: 1;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__switch-btn {
    margin-right: 16px;
  }
}
