.tabs {
  &__list {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    @media screen and (min-width: 1024px) {
      margin-bottom: 63px;
    }
  }

  &__item {
    color: $white;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.68px;
    line-height: 1;
    cursor: pointer;
    padding-bottom: 9px;
    margin-right: 30px;
    position: relative;

    @media screen and (min-width: 768px) {
      margin-right: 73px;
    }

    &.active,
    &:hover {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        border: 2px solid $hover-red;
        border-radius: 5px;
        left: 50%;
        width: calc(100% + 10px);
        transform: translateX(-50%);
        bottom: 0;
      }
    }

    &.active {
      font-weight: 600;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}
