.slider {
    margin: 30px auto 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 73vw !important;

    @media screen and (min-width: 768px) {
        height: 43vw !important;
    }

    @media screen and (min-width: 1200px) {
        height: 407px !important;
    }
}

.slider>img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 255px;
    width: 43%;
    height: 100%;
    transition: transform .5s;
    transform: translate(-50%, -50%)scale(1);
    z-index: 0;
}

.slider>img.left,
.slider>img.center,
.slider>img.right {
    display: inline-block;
    opacity: 1;
}

.slider>img.left {
    transform: translate(-118.25%, -50%);
    z-index: 1;
}

.slider>img.center {
    z-index: 2;
    transform: translate(-50%, -50%) scale(1.1);
}

.slider>img.right {
    transform: translate(18.25%, -50%);
    z-index: 1;
}

.slider>.navContainer {
    width: 30%;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 500;
}

.slider>.navContainer>.leftClass,
.slider>.navContainer>.rightClass {
    height: 100%;
    width: 28px;
    background: url("../images/slider-arrow.png")no-repeat center;
    background-position: center;
    position: absolute;
    cursor: pointer;
}

.slider>.navContainer>.rightClass {
    right: 20px;
    background-position-x: -22px;
}

.slider>.navContainer>.leftClass {
    left: 20px;
    background-position-x: 6px;
}