.about-section
    .about
        .about__img
            img(src="images/ball.png", alt="")
        h2.about__main-title Don't Bet, 
            span Invest    
        p.about__text In 2010, while betting on their favorite teams during the soccer season, our co-founders embarked on an impromptu journey of discovery in the soccer markets. With a merger between math and finance backgrounds, as well as a love for the game, they combined their knowledge to try and test different strategies that led them to discover the algorithm that transformed the concept of soccer betting into a sustainable investment market.
    .about
        .about__img
            img(src="images/union.svg", alt="")
        h2.about__title TAKING IT TO THE NEXT LEVEL
        p.about__text After years of trial and error, the strategy combined with the analysis of the algorithm proved that sustainable investing was possible, and generated profits beyond what was expected. It was in that moment that the co-founders decided to share this gift with anyone that wants to combine a passion for the game with profitable investments. The response was phenomenal.
        p.about__text Within the first year the founders were chosen to attend Web Summit as an Alpha company and showcased the product receiving multiple offers for funding, and a flood of useful feedback. Choosing to continue to grow organically they launched the Alpha and BETA versions of the product subsequently, getting feedback from thousands of users. Finally, through worldwide contacts and vetting, they accepted outside investment from likeminded partners, and built a team of specialists to launch the final product in 2020.
        p.about__text At DB Invest, we wanted to solve the biggest problem in betting: everyone is relying on gut feeling and losing money long term. And we did.
        p.about__text Hope you enjoy it!
    .about
        .about__img
            img(src="images/rocket.png", alt="")
        h2.about__title MISSION
        p.about__text.about__text_light Helping people create consistent revenue from the comfort of their own homes.
        h2.about__title WHAT ?
        p.about__text.about__text_light We provide our users with statistical analysis that they would use in soccer betting. We provide them with the true odds that they can compare with the ones of their favorite broker and decide whether the investment is profitable or not.
        h2.about__title HOW ?
        p.about__text.about__text_light By creating an algorithm with an online user interface that is accessible to everyone and easy to use/understand, complimented with an immersive online experience uniquely shaped by each user’s choices/preferences.
        h2.about__title WHY ?
        p.about__text.about__text_light We believe in investing differently, helping people create a second stream of income that is reliable and consistent, where they do not have to be financial gurus to understand the terminology. Instead, they would be investing in a passion market that they know and love.