.about-section {
  margin-bottom: 100px;
}
.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  &__img {
    max-width: max-content;
    margin-bottom: 15px;
  }
  &__text {
    max-width: 689px;
    color: $white;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.61px;
    line-height: 1.28;
    margin-bottom: 20px;
    &_light {
      font-weight: 200;
    }
  }

  &__main-title {
    font-size: 30px;
    font-weight: 700;
    color: $white;
    margin-bottom: 25px;
    span {
      font-weight: 400;
    }
  }
  &__title {
    font-size: 25px;
    font-weight: 600;
    color: $white;
    margin-bottom: 25px;
  }
}
