.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  &__title {
    color: $white;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 0.85px;
    line-height: 0.8;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      font-size: 30px;
      letter-spacing: 1.02px;
      line-height: 0.8;
    }
  }
  &__subtitle {
    color: $white;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.61px;
    line-height: 1.33;
    &:hover {
      text-decoration: underline;
    }
  }
  &__btn {
    padding: 13px 32px 12px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    max-width: 165px;
    max-height: 48px;
    color: $white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 44px;
    &:hover {
      box-shadow: 0 0 10px rgba(255, 41, 213, 0.75);
      border: 2px solid $hover-red;
      background-color: rgba(238, 54, 150, 0.5);
    }
  }
}

.contact-form {
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: 608px;
  }

  &__label {
    display: inline-block;
    color: $white;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.61px;
    line-height: 1.33;
    vertical-align: top;
    margin-bottom: 10px;
  }

  &__input,
  &__textarea {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    background: rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: $white;
    padding: 8px 30px 8px 9px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &__textarea {
    height: 200px;
  }

  &__input:focus,
  &__textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    outline: none;
  }
}
