.contact
	h2.contact__title Contact Us
	a(href="#")
		h3.contact__subtitle support@dontbetinvest.com
	button.contact__btn CHAT SUPPORT
	form.contact-form
		.contact-form__wrap
				label(for="name").contact-form__label Your Name
				input(type="text" name="name" id="name" required).contact-form__input
				label(for="email").contact-form__label Your Email
				input(type="email" name="email" id="email" required).contact-form__input
				label(for="message").contact-form__label Your Message
				textarea(name="message" id="message" class="txtarea" required).contact-form__textarea
				button(type="submit").btn.secondary.btn-wrap SUBMIT