.faq-section
    .accordion
        .accordion__item
            h3 Will I be charged during my free trial ?
            .accordion__content
                p No, you won’t be charged during your free trial, which begins on (XXXX) and ends on (XXX). You can cancel anytime before (XXXX) to avoid being charged.
        .accordion__item
            h3 How can I cancel during my free trial ?
            .accordion__content
                p No, you won’t
        .accordion__item
            h3 What happens after the free trial period ends ?
            .accordion__content
                p No, you won’t
        .accordion__item
            h3 What happens if I cancel my subscription early ?
            .accordion__content
                p No, you won’t
        .accordion__item
            h3 Will I have to start all over if I restart my DB Invest account ?
            .accordion__content
                p No, you won’t  