.faq-section {
  margin-bottom: 100px;
}
.accordion {
  max-width: 726px;
  width: 100%;
  border-top: 1px solid $white;

  &__item {
    border-bottom: 1px solid $white;
  }

  h3 {
    color: $white;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    cursor: pointer;
    padding: 20px 34px 20px 5px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      position: relative;
      cursor: pointer;
      padding: 24px 47px 24px 5px;
    }

   /*  &.active {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    } */

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 10px;
      height: 7px;
      transition: all 0.3s ease;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/arr-dn.svg);
    }
  }

  p {
    color: $white;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 20px;      
      margin-bottom: 30px;
    }
  }

  &__content {
    display: none;
    box-sizing: border-box;
    padding: 0px 15px 10px 5px;

    @media screen and (min-width: 1024px) {
      padding: 14px 20px 2px 5px;
    }
  }
}
