.tab {
  &__list {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;

    @media screen and (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }

  &__item {
    color: $white;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.68px;
    line-height: 1;
    cursor: pointer;
    padding: 14px 5px 11px 5px;
    width: 254px;
    height: 41px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.26);
    margin-right: 20px;
    position: relative;
    &:hover {
      box-shadow: 0 0 8px rgba(255, 41, 213, 0.75);
      border: 1px solid $hover-red;
      background-color: rgba(238, 54, 146, 0.5);
    }
    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
      font-weight: 200;
      line-height: 1;
      padding: 17px 36px 13px 36px;
      height: 58px;
    }

    &.show {
      font-weight: 400;
      border: 2px solid $white;
    }
  }

  &__content {
    display: none;

    &.show {
      display: block;
    }
  }

  &__content-title {
    display: none;
    color: $white;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1.02px;
    line-height: 1.2;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__content-text {
    color: $white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.68px;
    line-height: 24px;
    max-width: 1000px;
    width: 100%;

    &_light {
      font-weight: 200;
      margin-bottom: 30px;
    }

    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content-style {
    list-style-position: inside;
    list-style-type: square !important;
    font-weight: 200;
    margin-bottom: 30px;
  }
}
