.legal-section
	.tab.js-tab
		ul.tab__list.js-btn
			li.tab__item.show Terms & Conditions
			li.tab__item Privacy Policy
		.tab__content.js-content.show
			h2.tab__content-title Online Services Access Terms and Conditions
			ul
				li.tab__content-text 1.  Introduction
					p.tab__content-text_light By accessing our www.dontbetinvest.com website (The “website”) and requesting our services you will be considered as having fully read, understood and agreed to the following Online Services Access Terms and Conditions (The “Terms”).
				li.tab__content-text 2.  Definitions and interpretations
					p.tab__content-text_light In these Terms (“we” and ‘us’) means the website owner and (“you” and ‘yours’) means the customer or potential costumer, and (“Service”) means any service proposed by the owner on its website.
				li.tab__content-text 3.  Agreement Formation & Validity
					p.tab__content-text_light You hereby declare that you have legal capacity to consent and agree to the present terms and will be considered as having legal capacity to undertake said acts by completing the online payment process. By requesting our services via our website you are therefore submitting an offer and we reserve our discretionary right to either accept or refuse said offer. The Terms will be considered valid and our offer and services prices accepted as soon as you successfully complete the online payment process. Nonetheless we would not be considered engaged in any obligation whatsoever until we receive the entire amount of the purchased services, and accept your offer. The upcoming business day following the day of receipt of the total amount of purchased services will be considered as first day of any time-frame for the execution of our obligations. You hereby declare that your consent is final having no vices whatsoever including error, fraud, duress, incapacity.
				li.tab__content-text 4.  The Services
					p.tab__content-text_light The Services covered by the Terms are all services published on our website and chosen by you. The chosen services you will be receiving are similar to the services stated and published on our website. Thus you hereby acknowledge and accept the content of the services you purchased on our website.
				li.tab__content-text 5.  The Price
					p.tab__content-text_light All services prices are final and published on our website next to each service. It is understood that said services prices do not include any access whatsoever to events coverage, media or information. Payment must be executed upon the submission of your order. We may withhold the execution of the services and/or cancel the Terms executed between us if the price is not received from you in full. Settlement of all services must be undertaken by following the website instructions only.
				li.tab__content-text 6.  Delivery
					p.tab__content-text_light We offer to deliver our services electronically via third party companies at prices and terms provided by said companies. We will use reasonable endeavors to deliver our services within five working days as of the first business day following the date of receipt of services prices in full. However, we cannot guarantee delivery by the relevant date since responsibility of delivery is transferred to third party companies. We will also use reasonable endeavors to provide you with all documents in relation with the purchased services in order for you to follow up on your investments.
				li.tab__content-text 7.  Risks transfer
					p.tab__content-text_light Risks related to the purchased services always remain yours and will not be transferred to us at any time or for whatsoever reason. All our obligations under the present terms do not guarantee any results thus we are only bound within the limits of due care and diligence.
				li.tab__content-text 8.  Our Warranty
					p.tab__content-text_light We only guarantee that our services will be rendered based on scientific algorithms, financial knowledge, and processes or set of rules to be followed in calculations and problem-solving operations by qualified personnel. We also guarantee that our services will never be rendered randomly or aimlessly thus risk taken from your side will never be on the basis of the outcome of an unpredictable event similar to betting or gambling.
				li.tab__content-text 9.  Receipt of services
					p.tab__content-text_light You shall accept delivery of our services upon their arrival to your designated e-mail address. We will not be liable of the fact that you refused or did not for any reason whatsoever accept delivery of the services, and you will bear alone any responsibility pertaining thereto. You also acknowledge that any e-mail sent from our side might end up in your spam, clutter or folders other than your inbox. You shall inform us promptly of the non-delivery of any expected e-mail.
				li.tab__content-text 10.  Declaration
					p.tab__content-text_light You hereby declare the following:
						br
						| -You are legally capable of entering into binding contracts, and you have full authority, power and capacity to agree to these Terms;
						br
						| -The information you provided is accurate and complete;
						br
						| -You do not reside in a country boycotted by the government of the Republic of Cyprus; and
						br
						| -You will be able to accept delivery of the services.
				li.tab__content-text 11.  Data and Copyright
					p.tab__content-text_light We will use the information you provide to enable us to process your orders and to provide you with the services and information offered through our website and which you request. We will  use the information you provide to administer your account with us; verify and carry out financial transactions in relation to payments you make online; audit the downloading of data from our website; improve the layout and/or content of the pages of our website and customize them for users; identify visitors on our website; carry out research on our users’ demographics; send you information we think you may find useful or which you have requested from us, including information about our services. We are the owner of all intellectual property rights related to the Website. Those works are protected by copyright laws and treaties around the world.  All such rights are reserved. All purchased services remains our property thus we only grant you the right of personal use thus all services cannot be forwarded to third parties for any reason whatsoever, and you will not be granted the right to donate or sale or provide the purchased services to any third party.
				li.tab__content-text 12.  Force Majeure
					p.tab__content-text_light Should we fail to deliver the services because of force majeure you will have right to a refund excluding any expenses we may have settled.
				li.tab__content-text 13.  Agreement Cancellation & Changes
					p.tab__content-text_light We will have the right to cancel the present agreement without prior notice should you fail to undertake any of your obligations stated in the present agreement. The agreement will be considered null and canceled should you be purchasing our services to be delivered to any boycotted country by the government of the Republic of Cyprus. We abide by all laws of the Republic of Cyprus regarding the boycott of foreign states and refuse to deal with any of said countries. We reserve the right to change or modify the Terms at our sole discretion provided that the new or modified Terms have been published on our Website. The version of the Terms you agreed to, is the version published on our Website on the date and time of service purchase.
				li.tab__content-text 14.  Designated jurisdictions & Applicable law
					p.tab__content-text_light These terms of sale will be governed by the applicable laws of the Republic of Cyprus, and the competent courts of Nicosia will have exclusive jurisdiction to adjudicate any dispute arising from these Terms.
					p.tab__content-text_light Past performance is not indicative of future results. You should be aware of the real risk of loss in following any strategy or investment discussed on the website. Investments or Strategies mentioned on this website  may not be suitable for you and you should make your own independent decision regarding them. Strategies and investments may fluctuate in price or value.
				h4.tab__content-text Legal Notice
					br
					| www.dontbetinvest.com is brought to you by:
					br
					| Company Name: L.E.T INVESTING LTD
					br
					| Registration number & Authority: 516594 / CR NICOSIA
					br
					| Address: Strovolou, 77, STROVOLOS CENTER, 3rd floor, Strovolos, 2018, NICOSIA, CYPRUS.
					br
					a(href="#")
						| E-mail: support@dontbetinvest.com
		.tab__content.js-content
			h2.tab__content-title Privacy Policy for LET Investing LTD
			ul
				li.tab__content-text
					p.tab__content-text_light At Don't Bet. Invest, accessible from www.dontbetinvest.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Don't Bet. Invest and how we use it.
						br
						| If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
						br
						| This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Don't Bet. Invest. This policy is not applicable to any information collected offline or via channels other than this website.
				li.tab__content-text Consent
					p.tab__content-text_light By using our website, you hereby consent to our Privacy Policy and agree to its terms.
				li.tab__content-text Information we collect
					p.tab__content-text_light The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide. When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
				li.tab__content-text How we use your information
					p.tab__content-text_light(style="margin-bottom: 0px;") We use the information we collect in various ways, including to:
						ul.tab__content-style
							li Provide, operate, and maintain our website
							li Improve, personalize, and expand our website
							li Understand and analyze how you use our website
							li Develop new products, services, features, and functionality
							li Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
							li Send you emails
							li Find and prevent fraud
				li.tab__content-text Log Files
					p.tab__content-text_light Don't Bet. Invest follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
				li.tab__content-text Cookies and Web Beacons
					p.tab__content-text_light Like any other website, Don't Bet. Invest uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
						br
						| For more general information on cookies, please read "What Are Cookies".
				li.tab__content-text Google DoubleClick DART Cookie
					p.tab__content-text_light Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – https://policies.google.com/technologies/ads
				li.tab__content-text Advertising Partners Privacy Policies
					p.tab__content-text_light You may consult this list to find the Privacy Policy for each of the advertising partners of Don't Bet. Invest.
						br
						| Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Don't Bet. Invest, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
						br
						| Note that Don't Bet. Invest has no access to or control over these cookies that are used by third-party advertisers.
				li.tab__content-text Third Party Privacy Policies
					p.tab__content-text_light Don't Bet. Invest's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.
						br
						| You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.
				li.tab__content-text CCPA Privacy Rights (Do Not Sell My Personal Information)
					p.tab__content-text_light Under the CCPA, among other rights, California consumers have the right to:
						br
						| Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.
						br
						| Request that a business delete any personal data about the consumer that a business has collected.
						br
						| Request that a business that sells a consumer's personal data, not sell the consumer's personal data.
						br
						| If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
				li.tab__content-text GDPR Data Protection Rights
					p.tab__content-text_light We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
						br
						| The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.
						br
						| The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
						br
						| The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
						br
						| The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.
						br
						| The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.
						br
						| The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
						br
						| If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
				li.tab__content-text Children's Information
					p.tab__content-text_light Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
						br
						| Don't Bet. Invest does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
				h4.tab__content-text Legal Notice
					br
					| www.dontbetinvest.com is brought to you by:
					br
					| Company Name: L.E.T INVESTING LTD
					br
					| Registration number & Authority: 516594 / CR NICOSIA
					br
					| Address: Strovolou, 77, STROVOLOS CENTER, 3rd floor, Strovolos, 2018, NICOSIA, CYPRUS.
					br
					a(href="#")
						| E-mail: support@dontbetinvest.com