section.inspect-section
	.container
		.inspect
			.inspect__img
				img(src="images/shield.svg", alt="")
			h4.inspect__subtitle Trusted
			.inspect__img
				img(src="images/paypal.svg", alt="")
			p.inspect__info We want to eliminate any stress or hesitation you may feel. Your risk is ZERO. You will get an entire 7 days to experience the best of this platform. If for any reason you’re not satisfied, just let us know.
			form.main-form
				.main-form__wrap
					label(for="email").main-form__label
					input(type="email" name="email" id="emailinspect" placeholder="Enter Email Address" required).main-form__input
					button(type="submit").btn.arrow.primary Start Free Trial
			span.inspect__commit No commitment, cancel subscription anytime. 7 Day Trial.