.inspect {
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
  color: $white;
  display: flex;
  flex-direction: column;

  &__img {
    text-align: center;
    margin-bottom: 15px;
    max-width: 100%;
  }

  &__subtitle {
    font-size: 33px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 10px;
  }

  &__info {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;    
  }

  &__commit {
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    max-width: 152px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      text-align: start;
      font-size: 14px;
      max-width: 95%;
      margin: 0;
    }
  }
}
